<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="login-form">
          <h1>{{msg}}</h1>
          <h1>Login</h1>
          <form class="clearfix mb-4" action="auth" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            {{!-- <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div> --}}
            <button type="submit" id="submit">Submit</button>
          </form>
        </div>
        {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<form class="clearfix mb-4" action="POST">
  <div class="form-group">
    <label for="example-text">Example Text</label>
    <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
      placeholder="Enter Example Text">
  </div>
  <div class="form-group">
    <label for="example-description">Example Description</label>
    <textarea class="form-control" id="example-description" aria-describedby="example-description"
      placeholder="Enter Example Description"></textarea>
  </div>
  <button id="submit" class="btn btn-primary float-right">Submit</button>
</form>
<h3>Examples:</h3>
<ul id="example-list" class="list-group">
  {{#each examples}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="example/{{this.id}}">{{this.text}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul>
</div>

</div>
<div class="row">
  <div class="col-md-12 map fixed">
    <img src="/assets/images/walmart.png" alt="">
    <div><img src="assets/images/pin.png" class="pin1"></div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>